include LICENSE.txt
include README.md
include pyproject.toml

recursive-include comet *.py

# Keep build inputs out of the sdist
prune docs
prune resources
prune build
global-exclude *.py[cod]
global-exclude __pycache__
global-exclude .DS_Store
